// color
$color-bg: #edeeee;
$color-modal-bg: #f5f5f6;
$color-black: #232831;
$color-dark-gray: #8e939d;
$color-gray: #9da2ad;
$color-light-gray: #dce0e3;
$color-white: #ffffff;
$color-blue: #276ef2;
$color-sky-blue: #e9ecf5;
$color-red: #ba3e27;
$color-yellow: #f3c843;

// Breakpoints
$breakpoint-mobile: 480px;
